/* Estrutura CSS
--------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E3DDDD;
    font-family: 'Poppins', sans-serif;
    /*background-image: linear-gradient(darkgreen,#F4F2F2);*/
}

/* Cabeçalho CSS
--------------------------- */

header {
    width: 100%;
    margin: auto;
}

.header {
    height: 150px;
    display: block;
}

.logo {
    font-style: normal;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    padding: 49px;
    text-transform: uppercase;
    /*background-color: #0B610B;*/
}

.logo a {
    color: #EA1114;
    text-decoration: none;
    /*background-color: #0B610B;*/
}

/* Menu CSS
--------------------------- */

.navigation {
    background-color: #DD0A0D;
    border-radius: 5px;
    max-width: 1170px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigation ul {
    display: flex;
    list-style: none;
    width: 1250px;
    margin: 0 10px;
}

.navigation a {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
}

/* Produtos CSS
--------------------------- */

.section-body {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.section-products {
    width: 1195px;
    height: 950px;
    display: flex;
    flex-wrap: wrap;
}

.section-product-area {
    width: 276px;
    height: 450px;
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.section-product-photoarea img {
    margin: 15px auto ;
    width: 250px;
    height: 330px;
    border: 2px solid  #fff;
}

.section-product-photoarea img:hover {
    border: 2px solid #870002;
}

.section-product-photoinfo {
   text-align: center;
}

.section-product-photoinfo h5 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.section-product-photoinfo a {
    text-decoration: none;
    color: #000;
}

.btn {
    border-radius: 10px;
    color: #E3DDDD;
    display: inline-block;
    margin: 10px 0;
    background-color: #DD0A0D;
    text-decoration: none;
    padding: 10px 10px;
}

/* Rodapé
-----------------------------*/
footer{
    height: 80px;
    background: #DD0A0D;
}

footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    text-transform: unset;
    color: white;
    padding-top: 30px;
    margin-top: 20px;
}
